@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Back office administration for events/scores</h1>
        <h2><a asp-area="" asp-controller="Scores" asp-action="Index">Scores</a></h2>
        <h2><a asp-area="" asp-controller="Events" asp-action="Index">Events</a></h2>
        <hr />
        <h3>Details:</h3>
        <ol>
            <li>This was created with a computer and a monitor with ASP.NET Core MVC</li>
            <li>Theme used is <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ol>
    </div>
</div>
