@{
    ViewData["Title"] = "Home Page";
}


<div id="js-holder" data-mode="poll">
    
</div>


<script type="text/template" id="js-row-template">
    <div class="row">
        <fieldset>
            <legend class="js-event"></legend>
            <div class="col-xs-6 text-center">
                <h3>Home</h3>
                <h1 class="js-home"></h1>
            </div>
            <div class="col-xs-6 text-center">
                <h3>Away</h3>
                <h1 class="js-away"></h1>
            </div>
        </fieldset>
    </div>
</script>
